ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
ul li a{
    height: 24rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #e72929;
}
li a:hover{
    opacity: 0.9;
    cursor: pointer;
}
.content{
    padding: 0.5rem,1rem;
    position: relative;
}
.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}
.favorite.not{
    color: black;
}
.star{
    margin-bottom: 0.2rem;
}
.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.origins{
    flex: 9;
}
.origins span{
    border-radius: 2rem;
    background: whitesmoke;
    color: gray;
    font-size: .8rem;
    margin-right: .3rem;
    display: inline-block;
}
.cook-time{
    font-size: .8rem;
    flex: 5;
    text-align: right;
}
.price{
    color: #424242;
    margin-top: 0.2rem;
}
li a img{
    object-fit: cover;
    height: 14.5rem;
}